:root { 
	--main-color-green: #00C8A8;
	--main-color-pink: #EA5149;
	--main-color-yellow: #F1E306;
	--main-color-dark-blue: #3b2f8b;
	--main-color-light-blue-nmu: #001132;
	--main-color-aqua: #9ed5df;
	--main-color-grey-text: rgb(192,200,211);
	--main-color-light-blue: #9ed5df;
}
